@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Sofia+Sans+Semi+Condensed:wght@200&display=swap');

:root{
    --blue: #002f63;
    --yellow: #E7C24F;
    --orange: #ff6c02;
    --green: #48824C;

/* change the values below to your chosen font(s) */
--heading-font: "Indie Flower";
--paragraph-font: Sofia , Helvetica, sans-serif;
}

body{
    font-family: var(--heading-font);
    background-color: #fcfbfb;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fcfbfb;
}

#hero{
    padding-bottom: 35px;
}

#hero-img{
    width: 100%;
}

#logo_link{
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card, .msg{
    padding-bottom: 35px;

}

#background{
    margin: 0px 0 35px 0;
}


.mountains{
    width: 100%;

}

.card-img{
    border: 10px solid var(--blue);
}

.logo{
    width: 80px;
}

a{
    text-decoration: none;

}

nav a{
    text-align: center;
    padding: 35px;
}

.home-title, h2, h4{
    text-align: center;
    font-size: 2em;
}

h2{
    margin: 0;
    padding-bottom: 1.5rem;
}

.msg h2{
    padding-bottom: 0;
    padding-top: 1.5rem;
}

h2, h4{
    font-size: 1.5rem;
}

p, a{
    font-weight: bold;
}

#background {
    height: 725px;
}

#hero-msg h4{
    text-align: center
}

.button-box{
    text-align: center;
    margin-bottom: 1rem;
}

main section{
    text-align: center
}

main section img{
    box-sizing: border-box;
}

header{
    background-color: var(--yellow);
    padding-bottom: 15px;

} 
nav a:hover{
    background-color: var(--blue);
    color: var(--yellow);
    border-radius: 5px; 
    border: 1px solid var(--blue);
} 

nav a{
    color: var(--green);
    padding: 10px 35px;
    transition: color 0.5s, background-color 0.5s;
    border-radius: 5px; 
}

.book, .join{
    padding: 15px 30px;
    
}

.book{
    background-color: var(--yellow);
    color: var(--green);
    transition: color 0.5s, background-color 0.5s;
    border-radius: 5px
}

.join{
    text-align: center;
    transition: color 0.5s, background-color 0.5s;
    color: var(--blue);
    border-radius: 5px;
    font-weight: bold;
}

.book:hover, .join:hover{
    background-color: var(--blue);
    color: var(--yellow);
    border-radius: 5px; 
    border: 1px solid var(--blue); 
    font-weight: bold;
}

#background{
    background-color: var(--green);
} 

.msg{
    color: var(--blue);
    background-color: var(--green);
    padding: 0 4rem 1.5rem 4rem;
    margin: 35px 0;

} 

footer{
    color: var(--yellow);
    background-color: var(--blue);
    padding: 1.5rem;
}

footer p a{
    color: var(--yellow);

}

.icon {
    width: 80px;
}